__pycache__/
*.py[cod]
*$py.class
.vscode/
.idea/
*.png
!ui/assets/*.png
!assets/*.png
!assets/*.ico
build/
dist/
*.spec
!CustomMusicPlayer.spec
.gradle/
android/.gradle/
android/.artifacts/
android/.kotlin/
android/app/build/
android/build/
android/local.properties
*.apk
CustomMusicPlayer.apk
