__pycache__/
*.py[cod]
*$py.class
.vscode/
.idea/
*.png
!ui/assets/*.png
build/
dist/
*.spec
.gradle/
android/.gradle/
android/.artifacts/
android/.kotlin/
android/app/build/
android/build/
android/local.properties

